<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="UTF-8">
    		<title>Website</title>
		{% load static %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'tc/base.css' %}">
	</head>
	<body>
	    <header class="jumbotron text-center">
            <h1>Teoria da Computação</h1>
            <nav>
                <a href="{% url 'tc:intro' %}" class="btn btn-info">Introdução</a>
                <a href="{% url 'tc:automatos' %}" class="btn btn-info">Autómatos</a>
                <a href="{% url 'tc:maquinas' %}" class="btn btn-info">Máquinas de Turing </a>
            </nav>
        </header>
	    <article class="container">
            {% block main %}
	        {% endblock main %}
	    </article>

	</body>
</html>