{% extends 'tc/base.html' %}

{% block main %}
    <h3>O que é a teoria da computação?</h3>
    <p>A teoria da computação é um ramo da ciência da computação que trata de problemas <br> que podem ser resolvidos à luz de um modelo, um algoritmo, quão eficientemente o
        <br>conseguem resolver e se sequer o conseguem resolver.</p>
    <br>
    <h3><i>Branches</i> da teoria da computação</h3>
    <p>É possível ainda dividir a area da teoria da computação em três matérias:</p>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Finite-state_machine">Autómatos</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Turing_machine">Máquinas de Turing</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Regular_expression">Expressões Regulares</a></li>
    </ul>
{% endblock %}